%h3
  = @title
  %h2
    Ceci est un petit carnet d'adresse pour noter les bons endroits et planifier des sorties
  %h2.highlight
    Liste des projets
    %ul
      %li une appli iphone pour capturer les endroits sur l'instant
      %li une fonction de recherche ajax des lieux
      

